*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
}

/* header */
header{
    background-color: #1A0B2E;
    padding: 30px 0;
    text-align: center;
    color: white;
   }

   /* NAV */
.nav{
    border-bottom: 1px solid #412567;
}
nav{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
nav .logo h2{
    font-size: 50px;
    color: white;
}
nav .logo span{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
.btn{
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background: -webkit-linear-gradient(left, #F7E93F, #FB09B4, #9100F8);
    padding: 15px 20px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.btn:hover{
    background: -webkit-linear-gradient(right, #F7E93F, #FB09B4, #9100F8);
    color: #00FF88;
}

/* NAV BOTTOM */

.bg{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 80vh; */
    align-items: center;
    justify-content: center;
    
}

.img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3s;

}

.img3{
     position: absolute;
     transition: transform 3s;
}
.img3:hover{
    transform: scale(1.5);
}
.img4{
    position: absolute;
    top: 0;
    left: 240px
}
.img4 button{
    border: none;
    background-color: #00FF88;
    padding: 10px 15px;
    border-radius: 50px;
    color: #1A0B2E;
    font-weight: bolder;
}
.hero-text h1{
    color: white;
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
}
p{
    font-size: 16px;
    color: #A5A1B6;
    line-height: 25px;
}
.btn-group{
    margin-top: 36px;
    align-items: center;
    display: flex;
    justify-content: center;

    
}
.btn2{
    border: 2px solid #00FF88;
    padding: 15px 20px;
    background-color: #1A0B2E;
    color: #00FF88;
    border-radius: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.btn2:hover{
    transform: scale(1.5);
    transition: transform 1s;

}

/* ABOUT */

.about-text{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 200px;
    border-bottom: 1px solid #412567;
    padding-bottom: 60px;
}
.about-text h2{
    margin-top: 50px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-cards{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
}
.card h2{
    font-size: 48px;
    font-weight: 900px;
    color: #00FF88;
}
.techwave{
    background-color: #230E3D;
    padding: 120px 0;
}
.techwave h2{
    text-align: center;
    color: #FFFFFF;
}

.tecewave-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.tecewave-container h4{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 16px 0;
}
.tecewave-container p{
    font-size: 16px;
    color: #FFFFFF;
}
.tecewave-container>*{
    background-color: #2A0F4D;
    padding: 30px 20px;
    border-radius: 30px;
}

.part-1{
    grid-area: part-1;
   }
   .part-2{
    grid-area: part-2;
   }
   .part-3{
    grid-area: part-3;
   }
   .part-4{
    grid-area: part-4;
   }
   .part-5{
    grid-area: part-5;
   }
   
.tecewave-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "part-1 part-2 part-2"
    "part-1 part-3 part-3"
    "part-4 part-4 part-5"
}

/* Featured Episodes */
.featured{
    background-color: #1A0B2E;
    padding: 120px 0;
}
.featured h2{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}
.featured-cards{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}
iframe{
    width: 100%;
}
 h4{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 24px;
}
.featured-cards span{
    color: #00FF88;
    align-items: center;
    display: flex;
    gap: 30px;
    margin: 12px;
}

/* host */

.meet{
    width: 75%;
    max-width: 1200;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #2A0F4D;
    border-radius: 30px;
    padding: 25px;
}
.bio{
    margin: 0 30px;
}
.social-icon{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}
.social-icon img{
    border: 1px solid #9100F8;
    padding: 10px;
    border-radius: 50%;
    /* width: 40px;
    height: 40px; */
}

/* footer */ 
footer{
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: center;
}
footer .logo h2{
    font-size: 75px;
    color: white;
}
footer .logo span{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.link-container{
    display: flex;
    gap: 8px;
}
.link{
    display: flex;
    gap: 10px;
    width: 150px;
    height: 20px;
}
footer small{
    color: #A5A1B6;
    margin-top: 35px;
}


/* @media screen  */

@media screen and (max-width:576px){

    nav{
        flex-direction: column;
    }
    nav ul {
        margin-bottom: 20px;
    }
    .img{
        margin-top: 50px;
    }
    .btn-group{
        margin-bottom: 30px;
    }
    .hero-text h1{
        font-size: 38px;
    }
    
    .about-text {
    width: 95%;
    padding: 0 5px;
    border-bottom: 1px solid #412567;
    padding-bottom: 60px;
    /* margin-top: 15%; */
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.techwave {
    padding: 40px 0;
}
h2 {
    font-size: 28px;
    
}
.tecewave-container {
    width: 95%;
}

.tecewave-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "part-1"
        "part-2 "
        "part-3"
        "part-4 "
        "part-5";
}
.featured {
    padding: 15px 0;
}
.featured h2 {
    font-size: 28px;
     margin-bottom: 20px;
}
.featured-cards {
    width: 95%;
    overflow: hidden;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}
.meet {
    width: 95%;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    text-align: center;
}
.social-icon{
    justify-content: center;
}
footer .logo h2 {
    font-size: 45px;
}
.link-container {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
    
}
    